@import '../../styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;

  display: flex;
  justify-content: flex-end;

  z-index: 30;

  @include layoutDelay;
}

@include query(lg) {
  .header {
    background-color: var(--background-color);
    font-size: 14px;
  }
}

@include query(lg) {
  .header {
    padding: 20px;
  }
}

@include query(xsm) {
  .header {
    font-size: 11px;
    padding: 16px;
  }
}
