.button {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  padding: 7.5px 22px;
  text-transform: uppercase;
  background-color: transparent;
  font-family: var(--primary-font);
  font-size: 1.5em;
  border-radius: 0.4em;

  transition: all 0.3s ease;

  &:hover {
    color: var(--background-color);
    font-weight: bold;
    background-color: var(--primary-color);
  }
}
