@import '../../styles/mixins';

.container {
  position: fixed;
  top: 40vh;
  right: 60px;

  display: flex;
  flex-direction: column;

  z-index: 100;
}

@include query(lg) {
  .container {
    right: 20px;
  }
}

@include query(sm) {
  .container {
    flex-direction: row;
    left: 16px;
    top: 24px;
  }
}

.item {
  width: 15px;
  height: 15px;
  background-color: #7f83ab;
  border-radius: 50%;
  margin: 7px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.arrow {
  position: fixed;
  bottom: 60px;
  left: 50%;
  margin-left: -75px;
}
