@import '../../styles/mixins';

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.background {
  position: relative;
  min-height: 100vh;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-color: var(--background-color);

    background-image: url('../../public/background-paths.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.background180 {
  background-position: bottom left;

  &::before {
    transform: rotate(180deg);
  }
}

@include query-h(md) {
  .container {
    max-width: 1100px;
  }
}

@include query(xlg) {
  .container {
    max-width: 900px;
  }
}

@include query(lg) {
  .container {
    max-width: 800px;
  }
}

@include query(md) {
  .container {
    max-width: 700px;
  }
}

@include query(sm) {
  .container {
    max-width: 580px;
  }

  .background {
    position: relative;
    min-height: 100vh;

    &::before {
      background-image: none;
      background-color: #383b5e;
    }
  }
}

@include query(xsm) {
  .container {
    max-width: 390px;
  }
}

@include query(xxsm) {
  .container {
    max-width: 310px;
  }
}
