.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.background {
  position: relative;
  min-height: 100vh;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-color: var(--background-color);

    background-image: url('../../public/background-paths.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.background180 {
  background-position: bottom left;

  &::before {
    transform: rotate(180deg);
  }
}
