@import '../../styles/mixins';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$fade-time: 0.5s;

.wrapper {
  color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 86px;
}

.name-is {
  margin-left: 4px;

  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 1.2em;

  opacity: 0;

  animation: fadeIn $fade-time linear 0.4s forwards;
}

.name {
  font-size: 4.2em;

  opacity: 0;

  animation: fadeIn $fade-time linear 1.4s forwards;
}

.speciality {
  font-size: 4.3em;
  color: var(--secondary-color);

  opacity: 0;

  animation: fadeIn $fade-time linear 2.7s forwards;
}

.skills {
  margin-top: 8px;

  font-family: var(--secondary-font);
  max-width: 670px;
  font-size: 1.7em;
  color: #a6a8c2;

  opacity: 0;

  animation: fadeIn $fade-time linear 4s forwards;
}

.button {
  margin-top: 20px;

  opacity: 0;

  animation: fadeIn $fade-time linear 4s forwards;
}

.arrow {
  display: block;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -75px;

  @include layoutDelay;
}

@include query-h(md) {
  .wrapper {
    font-size: 12px;
  }
}

@include query(xlg) {
  .wrapper {
    font-size: 14px;
  }
}

@include query(lg) {
  .wrapper {
    font-size: 13px;
  }
}

@include query(md) {
  .wrapper {
    font-size: 11px;
  }
}

@include query(xsm) {
  .arrow {
    display: none;
  }

  .wrapper {
    padding-bottom: 12vh;
  }
}

@include query(xxsm) {
  .wrapper {
    font-size: 9px;
  }
}
