@import '../../styles/mixins';

.container {
  position: fixed;
  bottom: -40px;
  left: 0;

  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 0 60px;

  transition: bottom 0.25s ease-in 0.2s;

  & img {
    width: 32px;
  }
}

@include query(lg) {
  .container {
    display: none;
  }
}
