.container {
  position: fixed;
  bottom: -4px;
  left: 0;

  width: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 0 60px;

  transition: bottom 0.25s ease-in 0.2s;
}

.container-lower {
  bottom: -140px;
}
