$breakpoints: (
  'xlg': 1420px,
  'lg': 1120px,
  'md': 900px,
  'sm': 800px,
  'xsm': 600px,
  'xxsm': 414px,
);

@mixin query($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin animations {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes scaleUp {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@include animations;

@mixin layoutDelay {
  opacity: 0;

  animation: fadeIn 0.5s linear 5s forwards;
}

@mixin scroll {
  &::-webkit-scrollbar {
    width: 12px;

    &-track,
    &-thumb {
      border-radius: 8px;
    }

    &-track {
      background: #343758;
    }

    &-thumb {
      background: #4d5285;

      &:hover {
        background: #6b7bad;
      }
    }
  }
}
